<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Chi Siamo</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Benvenuti all'Autoscuola San Benedetto a Cassino, un punto di riferimento nella formazione alla guida da oltre 40 anni. 
          La nostra esperienza e professionalità ci permettono di offrire corsi teorici e pratici di alta qualità per il 
          conseguimento della patente di guida, garantendo un apprendimento sicuro ed efficace. </p>
      </div>
      <div class="col-lg-4">
        <p>
          Con un team di istruttori qualificati e attrezzature moderne, seguiamo ogni allievo passo dopo passo, 
          dalla teoria alla pratica, fino all'ottenimento della patente. La vostra sicurezza e preparazione sono 
          la nostra priorità! </p>
      </div>
    </div>
  </div>
</section>
